body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
    color: #fff;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.container {
    flex: 1;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

.form-section {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #5cb85c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4cae4c;
}

.examens-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.examens-section th, .examens-section td {
    border: 1px solid #ddd;
    padding: 8px;
}

.examens-section th {
    background-color: #f2f2f2;
    text-align: left;
}

.examens-section tr:nth-child(even) {
    background-color: #f9f9f9;
}

.examens-section tr:hover {
    background-color: #ddd;
}

.btn-edit {
    background-color: #0275d8;
}

.btn-edit:hover {
    background-color: #025aa5;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-delete:hover {
    background-color: #c9302c;
}